body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
}
.login{
  background-image: linear-gradient(rgba(0, 0, 0, 0.598), rgba(0, 0, 0, 0.598)),
  url(img/arkaplan.jpg);
}

.login{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
  }

.login nav img{
  position: absolute;
  left: 30px;
  top:0px
}

.loginbtn{
  border: none !important;
  background-color: rgb(179, 4, 4);
  margin-bottom: 30px;
  padding: 20px auto !important;
  
}

.kodbtn{
  background-color: #22222277;
  border: none !important;

}

#or{
  text-align: center;
  color: #5a4f4f;
}
.container1{
  margin-top: 10%;
  margin-bottom: 20%;
  width: 30%;
  background-color: #000000c8;
  border-radius: 10px;
  padding: 50px;
  box-sizing: border-box;
}

form::placeholder{
  color: wheat;
}

form input:focus{
  outline: 2px solid rgb(215, 210, 201) !important;
}
.container1 form{
  color: #fff;
}
.container1 form input{
  background-color: #2222225f;
  padding: 10px 20px;
}

#forget{
  text-align: center;
  margin: 15px auto;
}

#kayitol{
  margin: 15px auto;
  color: #5a4f4f;
}

#kayitol span{
  font-weight: bold;
}

form small{
  color: #5a4f4f;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.598), rgba(0, 0, 0, 0.598)),
    url(img/arkaplan.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero-text h1 {
  font-size: 5vw;
  font-weight: 700;
}
.input-group input {
  padding: 20px;
  border: none;
}
.arkaplan {
  background-color: #000;
}
.accordion,
.panel {
  background-color: #222;
  color: #fff;
}
.arkaplan .row {
  width: 75%;
  margin: auto;
}
.text {
  text-align: left;
  color: #fff;
}
.ekran {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.ekran img {
  position: absolute;
  top: 0;
}
.ekran video {
  width: 75%;
  margin-top: 67px;
  margin-left: 60px;
}
.accordion {
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  font-size: 20px;
  transition: 0.4s;
}
.panel {
  padding: 0 18px 5px;
  overflow: hidden;
  display: none;
}
.accordion:after {
  content: "\002B";
  float: right;
}
.active:after {
  content: "\02E3";
}
.nav-link,
.p-footer,
footer p {
  color: grey;
}

.navbar-brand1 img{
  height: 150px;
  width: 300px;

}

footer .nav-link {
  text-transform: capitalize;
  padding: 0;
  display: inline;
}
footer .nav-link:hover {
  color: grey;
  border-bottom: 1px solid grey;
}
@media screen and (max-width: 992px) {
  .text {
    text-align: center;
  }
}
/* .dropdown-menu {
    --bs-dropdown-min-width: 100%;
    background-color: blue;
    
}
.dropdown-menu li a {
  color: white;
} */